*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;   
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.content {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    padding: 30px;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 100px;
    color: white;
}

h1 {
    text-transform: uppercase;
    font-size: 32px;
}

.textoUm {
    margin-top: 20px;
    font-size: 18px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 490px;
    background-color: aliceblue;
    border-radius: 2px;
}

input {
    margin: 20px 25px 0px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid black;
    text-indent: 10px;
}

.campo-preenchido {
    border: 2px solid green;
}

.campo-nao-preenchido {
    border: 2px solid red;
}

input::placeholder {
    font-weight: bold;
    color: grey;
}

.mensagem {
    height: 150px;
}

button {
    margin: 20px 25px 20px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    background-color: #3BCC87;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

span {
    margin: 10px 20px;
}

h3 {
    font-size: 10px;
    color: red;
    text-indent: 20px;
    margin-top: 3px;
}



